global
    log 127.0.0.1 local2
    chroot /var/lib/haproxy
    pidfile /var/run/haproxy.pid
    maxconn 10000
    user haproxy
    group haproxy
    daemon
    stats socket /var/lib/haproxy/stats

defaults
    mode tcp
    log global
    option tcplog
    retries 3
    timeout queue 1m
    timeout connect 10s
    timeout client 1m
    timeout server 1m
    timeout check 10s
    maxconn 900

listen stats
    mode http
    bind 192.168.192.128:7000
    stats enable
    stats uri /

listen primary
    bind 192.168.192.128:5432
    option httpchk OPTIONS /master
    http-check expect status 200
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
    server db1 192.168.192.129:5432 maxconn 1000 check port 8008
    server db2 192.168.192.130:5432 maxconn 1000 check port 8008
    server db3 192.168.192.131:5432 maxconn 1000 check port 8008

listen standby
    bind 192.168.192.128:5001
    balance roundrobin
    option httpchk OPTIONS /replica
    http-check expect status 200
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
    server db1 192.168.192.129:5432 maxconn 1000 check port 8008
    server db2 192.168.192.130:5432 maxconn 1000 check port 8008
    server db3 192.168.192.131:5432 maxconn 1000 check port 8008
